body{
	background-image:url(bg.jpg);
	background-size:cover;
	background-repeat: no-repeat;
	background-position: center;	
	font-family: sans-serif;
}
.menu-bar{
	background:rgb(0,0,0);
	text-align: center;
}
.menu-bar ul{
	display: inline-flex;
	list-style: none;
	color: #fff;
}
.menu-bar ul li{
	width: 120px;
	margin: 15px;
	padding:15px;
}
.menu-bar ul li a{
	text-decoration: none;
	color:#fff;
}
.active, .menu-bar ul li:hover {
	background:rgb(32,32,32);
	border-radius: 3px;
}
.menu-bar,.fa{
	margin-right: 8px
}
.sub-menu-1{
	display: none;
}
.menu-bar ul li:hover .sub-menu-1{
	display:block;
	position: absolute;
	background:rgb(10,10,10,0.3);
	margin-top: 15px;
	margin-left:15px;
}
.menu-bar ul li:hover .sub-menu-1 ul{
	display: block;
	margin:10px;
}
.menu-bar ul li:hover .sub-menu-1 ul li{
	width:150px;
	padding:10px;
	border-bottom:1px dotted #fff;
	background:transparent;
	border-radius: 0;
	text-align: left;
}
.menu-bar ul li:hover .sub-menu-1 ul li:lastchild{
	border-bottom: none;
}
.menu-bar ul li:hover .sub-menu-1 ul li a:hover{
	color: rgb(32,32,32);
}
.sub-menu-2{
	display: none;
}
.hover-me:hover .sub-menu-2{
	position:absolute;
	display: block;
	margin-top:-40px;
	margin-left: 140px;
	background:rgb(10,10,10);
}
.sign-up{
	float: right;
}
.nav-item{
	float:left;
}
.box{
	width: 300px;
	padding: 40px;
	position: absolute;
	top: 50%;
	left:50%;
	transform: translate(-50%,-50%);
	background:#191919;
	text-align: center;
}
.box h1{
	color: #fff;
	text-transform: uppercase;
	font-weight: 500;
}
.box input[type="text"],.box input[type="password"]{
	border:0;
	background:none;
	display: block;
	margin: 20px auto;
	text-align: center;
	border:2px solid #fff;
	padding: 14px 10px;
	width:200px;
	outline:none;
	color:#fff;
	border-radius: 24px;
	transition:0.25s;
}
.box input[type="text"]:focus,.box input[type="password"]:focus{
	width:280px;
	border-color: #fff;
}
.box input[type="submit"]{
	border:0;
	background:none;
	display: block;
	margin: 20px auto;
	text-align: center;
	border:2px solid #fff;
	padding: 14px 40px;
	outline:none;
	color:#fff;
	border-radius: 24px;
	transition:0.25s;
	cursor: pointer;
}
.box input[type="submit"]:hover{
	background:rgb(32,32,32,0.7);
}